/*
 * CSS customizations for the programming pages template
 */

/* use flexbox to keep footer stuck to bottom */
.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#page-container {
  flex: 1;
}

/* toggle visibility of menu toggle / sidebar at 'mobile' width */
#site-title .toggle.item {
  display: none;
}
#sidebar-fixed {
  overflow-y: auto!important;
  height: 100%;
  max-height: 100vh;
}
#sidebar-retractable {
  width: 15rem;
}
.pusher #page-container {
  margin-left: 15rem; /* position page to left of sidebar when it's not retractable */
}
@media only screen and (max-width: 767px) {
  #site-title .toggle.item {
    display: flex;
  }
  .pusher #sidebar-fixed {
    display: none;
  }
  .pusher #page-container {
    margin-left: 0;
  }
}

/* adjust anchor positions so in-page links appear below fixed top menu */
:target::before {
  display: block;
  content: " ";
  margin-top: -3.5rem;
  height: 3.5rem;
  visibility: hidden;
  pointer-events: none;
}

/* adjustments to fixed top title */
#page-container {
  margin-top: 3.4rem; /* position page under top menu */
}
#site-title .header {
  height: 3.5rem;
}
#site-title .header .text {
  max-width: 12em;
}
#site-title a.borderless.item svg.icon {
  top: -.06em;
  margin-right: .18em;
}

/* tweaks to existing semantic-ui rules */
#sidebar-retractable.ui.push.sidebar {
  z-index: 100; /* underneath top fixed menu */
}
#sidebar-retractable.ui.menu {
  top: 3.5rem; /* below top fixed menu */
}
#sidebar-fixed.ui.menu {
  position: fixed;
  top: 3.5rem; /* below top fixed menu */
  left: auto;
}
.ui.secondary.pointing.menu .item {
  padding: .75em .75em;
}
.ui.vertical.text.menu .tight.item {
  margin: 0;
  padding: .5em;
}
.ui.vertical.text.menu .very.tight.item {
  margin: 0;
  padding: .125em;
}
.ui.tight.header {
  margin-bottom: .5em;
}
.ui.very.tight.header {
  margin-bottom: .25em;
}
.ui.tight.segment {
  padding: .5em;
}
.ui.tight.label {
  padding: .25em;
}
.ui.message {
  max-width: 45rem;
}
.ui.message svg.icon {
  top: .125em;
}
.ui.success.message, .ui.info.message, .ui.warning.message, .ui.error.message {
  border-left-style: solid;
  border-left-width: .25em;
}

/* custom styling */
blockquote {
  background: #f9f9f9;
  border-left: .5em solid #4183c4;
  margin: 1.5em .5em;
  padding: .5em .5em;
}
blockquote p {
  display: inline;
}
code, kbd, pre, samp {
  font-family: Consolas,'Lucida Console','Andale Mono',monospace;
}
li code, p code, td code, .ui.list .item code {
  padding: 2px 4px;
  font-size: 90%;
  color: #d87b00;
  background-color: #f5f4e8;
  border-radius: 4px;
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
}
pre.highlight {
  line-height: 1.18em;
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
}
.larger.text {
  font-size: 150%;
}
.larger.text li, p.larger.text {
  line-height: 130%;
  max-width: 50rem;
}
.smaller.text {
  font-size: 80%;
}
.smaller.text li, p.smaller.text {
  line-height: 90%;
}
.normal.text {
  font-weight: normal;
}
.ui.tab.segment .link.list .item>.icon {
  float: right;
}
.ui.list .item>.icon {
  float: left;
}
