---
layout: page
---

{% assign dir = page.relative_path | split: '.' | first | split: '/' | last %}

<span class="anchor" id="heading">&nbsp;</span>
<h1 class="ui dividing header">{{ page.title }}</h1>

<div class="ui stackable two column grid">
{% if page.thumb %}
<div class="ten wide column"><img class="ui rounded image" src="{{ page.thumb }}"></div>
{% endif %}
<div class="six wide column">{{ content }}</div>
</div>

{% unless page.code.size == 0 %}
<div id="example-code-tabs" class="ui top attached tabular menu">
{% for n in (1..page.code.size) %}
  {% assign i = n | minus: 1 %}
  <a class="{% if forloop.first %}active {% endif%}item" data-tab="file{{ n }}">{{ page.code[i].label }}</a>
{% endfor %}
</div>

{% for n in (1..page.code.size) %}
<div class="{% if forloop.first %}active {% endif%}ui bottom attached tab segment" data-tab="file{{ n }}">
{% assign i = n | minus: 1 %}
{% assign file = page.code[i] %}
{% capture filepath %}{{ dir }}/{{ file.url }}{% endcapture %}
{% assign syntax = file.language | default: 'text' %}
{% capture code %}```{{ syntax }}
{% include_relative {{ filepath }} %}
```{% endcapture %}
{{ code | markdownify }}
</div>
{% endfor %}

<script type="text/javascript">
{% include scripts/example.js %}
</script>
{% endunless %}

</div>
